@import "../variables.scss";

.aboutMeMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 5%;

    .aboutMeTitle {
        text-align: center;
        color: $pink;
    }

    #goBack {
        color: $pink;
        text-decoration: none;
        font-size: 1.2rem;
    }
}
